$font : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:#24272E;
    color:white;
}

header{
    background:white;
    padding:20px;

    h1{
        color:purple;
        text-align:center;
        font-family:$font;
    }
}

.score-board{
    border:3px solid white;
    border-radius:4px;
    width:200px;
    margin: 20px auto;
    padding:15px 20px;
    font-size:46px;
    text-align:center;
    font-family:$font;
    position: relative;
}

.badge{
    background-color:red;
    font-size:14px;
    padding:2px 10px;
}

#user-label{
    position: absolute;
    top:30px;
    left:-25px;
}

#com-label{
    position: absolute;
    top:30px;
    right:-30px;
}

.result{
    font-size:40px;

    p{
        text-align:center;
        font-weight:bold;
        font-family:font;
    }
}

.choices{
    margin:50px 0;
    text-align:center;
}

.choice{
    border: 4px solid white;
    border-radius: 50%;
    margin:0 20px;
    padding: 10px;
    display:inline-block;
    font-size:25px;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor:pointer;
    background:white;
    color:black;
}

#action-message{
    text-align:center;
    color:white;
    font-family:$font;
    font-weight:bold;
    font-size:20px;
}

.green-glow{
    border:4px solid #4dcc7d;
    box-shadow:0 0 10px #31b43a;
}

.red-glow{
    border:4px solid #fc121b;
    box-shadow:0 0 10px #d01115;
}

.grey-glow{
    border:4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}